<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>English Teaching Tools</h1>
      <p>This is a collection of tools to make your ESL lesson preparation quicker and easier.</p>
    </div>
  </div>
</div>

