h1 =@article_worksheet.title
= link_to "edit", edit_article_worksheet_path(@article_worksheet)

p = @article_worksheet.body_with_no_articles

= link_to "Download as a pdf file", article_worksheet_path(@article_worksheet,format: :pdf)

