<% words.each do |w| %>
  <label for="definition_matching_game_word_ids_<%=w.id%>"><input class="check_boxes optional" type="checkbox" value="<%=w.id%>" name="definition_matching_game[word_ids][]" id="definition_matching_game_word_ids_<%=w.id%>"><%=w.clean_definition%></label>
<%end%>
